@charset "UTF-8";

h1{
  color: #24226c;
  font-size: 17pt;
  font: small-caps bold 24px/1 sans-serif;
}


canvas {
  border: 1px solid black;

}

.eqation{
  color: #24226c;
  font-size: 25pt;

}

.x_0_show{
  color: #2244ba;
  font-size: 30pt;
}

.show_data_rambda{
  color: #3e61dd;
  font-size: 25pt;
}


.show_data{
  color: #3e61dd;
  font-size: 25pt;
}

.in{
border:0;
padding:8px;
font-size:0.6em;
font-family:Arial, sans-serif;
color:#95ade9;
border:solid 1px #87bef0;
margin:0 0 20px;
width:90pt;
height:30pt;
}

.in_ramda{
border:0;
padding:8px;
font-size:0.6em;
font-family:Arial, sans-serif;
color:#95ade9;
border:solid 1px #87bef0;
margin:0 0 20px;
width:70pt;
height:20pt;
}

.buto {
  min-width: 100px;
  font-family:Arial, sans-serif;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 22pt;
  cursor: pointer;
}
 
.buto:hover {
  background: #1d49aa;
}
 
.buto:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

